.authContainer {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.authLeft {
    flex: 0 0 900px;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: var(--main-contrast-color);
    padding: 2rem;
}

.authRight {
    flex: 1 1 auto;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.85), transparent 50%),
    url("../../assets/images/background-image-auth.jpg") center/cover no-repeat;
    min-height: 100vh;
}

.logoContainer {
    display: flex;
    height: 15%;
    width: 90%;
    justify-content: flex-start;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--signature-color);
    text-decoration: none;
    margin-bottom: 2rem;
}

.registerContainer {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding-top: 2.2rem;
    gap: 2.5rem;
}

.registerContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.loginLink {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: left;
}

.loginLink a {
    color: var(--main-contrast-color);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.loginLink a:hover {
    color: var(--signature-color);
}

@media (max-width: 768px) {
    .authRight {
        display: none;
    }

    .authLeft {
        flex: 1 1 auto;
        width: 100%;
    }
}
