.userIconButton {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.userIconImage {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    filter: invert(100%) brightness(200%) grayscale(100%);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.avatarImage {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.userIconButton:hover .userIconImage,
.userIconButton:hover .avatarImage {
    transform: scale(1.2);
}

.userIconButton:hover .userIconImage {
    filter: brightness(0) saturate(100%) invert(19%) sepia(98%) saturate(7487%) hue-rotate(242deg) brightness(104%) contrast(104%);
}
