.user-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.user-icon-button img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    filter: invert(100%) brightness(200%) grayscale(100%);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.user-icon-button:hover {
    transform: scale(1.2);
}

.user-icon-button:hover img {
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(180deg);
}
