.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
    );
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid white;
}

.logo {
    cursor: pointer;
}

.logo-text {
    font-size: 2rem;
    font-weight: 800;
    color: var(--signature-color);
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    border: 1px solid white;
}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
