/* Algemene styling */
.landing-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%),
    url('../../assets/images/background-image-main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */
.landing-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
    padding-top: 1rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.landing-header-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.logo-only {
    color: var(--signature-color);
    font-size: 2rem;
    font-weight: 800;
}

/* Hero sectie */
.hero-section, .features-section, .register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.hero-section h1 {
    font-size: 2rem;
}

.hero-section p {
    font-size: 0.8rem;
}

/* SlideShowCarousel */
.carousel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

/* Footer */
.landing-footer {
    width: 100%;
    background-color: var(--secondary-background-color);
}
